name: Build and Push Frontend to GHCR

on:
  push:
    branches: [main]

env:
  REGISTRY: ghcr.io
  # Esto pondrá el nombre de tu repo de Angular automáticamente
  IMAGE_NAME: jyhskaiser/trail-tracker-forntend

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Genera la etiqueta :latest para que Azure siempre jale lo más nuevo
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
